body {
     background-color: rgba(255, 105, 180, 0.863);
}

 h1 {
    text-align: center;
 }

 p {
    text-align: center;
    font-family: ;
 }

 strong {
     color:aqua;}
     img{text-align: center;}
     .sideneia{height: 100px;width: 500px;}